openapi: 3.1.0
info:
  title: Balena Cloud Applications API
  version: v7
  description: 'The balenaCloud REST API is the primary interface to the Balena platform.

    It exposes OData-style resources for devices, fleets (applications), releases,

    environment variables, organizations, and user accounts. Authentication uses a

    bearer token (session token or named API key) supplied in the

    `Authorization: Bearer <token>` header. Backward-compatible paths for v1-v6

    are translated to the newest version.

    '
  contact:
    name: balenaCloud
    url: https://docs.balena.io/reference/api/overview/
servers:
- url: https://api.balena-cloud.com/v7
  description: balenaCloud v7
- url: https://api.balena-cloud.com/v6
  description: balenaCloud v6 (backward-compatible)
tags:
- name: Applications
  description: Fleets (applications)
paths:
  /application:
    get:
      summary: List applications (fleets)
      operationId: listApplications
      tags:
      - Applications
      parameters:
      - in: query
        name: $select
        schema:
          type: string
      - in: query
        name: $filter
        schema:
          type: string
      - in: query
        name: $expand
        schema:
          type: string
      responses:
        '200':
          description: A page of applications
          content:
            application/json:
              schema:
                type: object
                properties:
                  d:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
      security:
      - bearer: []
    post:
      summary: Create an application (fleet)
      operationId: createApplication
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - app_name
              - device_type
              properties:
                app_name:
                  type: string
                device_type:
                  type: string
                organization:
                  type: integer
      responses:
        '201':
          description: Created application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
      security:
      - bearer: []
  /application({id}):
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: integer
    get:
      summary: Get an application
      operationId: getApplication
      tags:
      - Applications
      responses:
        '200':
          description: Application
          content:
            application/json:
              schema:
                type: object
                properties:
                  d:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
      security:
      - bearer: []
    delete:
      summary: Delete an application
      operationId: deleteApplication
      tags:
      - Applications
      responses:
        '200':
          description: Deleted
      security:
      - bearer: []
components:
  schemas:
    Application:
      type: object
      properties:
        id:
          type: integer
        app_name:
          type: string
        slug:
          type: string
        device_type:
          type: string
        organization:
          type: object
        created_at:
          type: string
          format: date-time
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Session token or named API key supplied as

        `Authorization: Bearer <token>`. Create named API keys at

        https://dashboard.balena-cloud.com/preferences/access-tokens.

        '
